
*{
    padding: 0;
    margin: 0;
    font-family: arial;
}

div{
    background-color: #eee;
    padding: 30px;
    margin-bottom: 10px;
}
p{
    background-color: #ccc;
    padding: 10px;
    margin: 10px;
}

input[type='text']{
    border:1px solid #ccc;
    outline: 0;
    padding: 5px;
    border-radius: 5px;
    display: block;
    margin-bottom: 20px;
}

button{
    border:1px solid #000;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(34, 35, 68);
    color:#fff;
    display: block;
    margin: 10px;
    width: 170px;
}

.myP{
font-size: 35px;
}
.jsClass{
    background-color: pink;
}

img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
#result{
    background-color: #fff;
    color:blue;
    display: none;
}